{% extends "base.html" %}
{% load static %}
{% block page_content %}

<br>
<h1>Projects</h1>
<hr class="hr-ruler-blue">
<br class="header-break">
<div class="row mb-5">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <img class="card-img-top" src="{{ project.t_image_path.url }}">
                <div class="card-body">
                    <h3 class="card-title">{{ project.t_title }}</h3>
                    <p class="card-text">{{ project.t_blurb }}</p>
                    <a href="{% url 'myprojects_detail' project.pk %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<br>
{% endblock %}